* {

    margin: 0;
  
    padding: 0;
  
  }
  
  
  
  header {
  
    background-color: lightblue;
  
    color: black;
  
    text-align: center;
  
    padding: 15px 0px;
  
    margin: 0px 5px;
  
    height: 5%;
  
  }
  
  footer {
  
    background-color: rgba(47, 79, 79, 0.935);
  
    text-align: center;
  
    height: 4%;
  
    color: white;
  
    padding: 10px 0px;
  
    margin: 0px 5px;
  
  }
  .menus{
    
  
    background-color: rgba(47, 79, 79, 0.935);
  
    color: white;
  
    align-items: flex-start;
  
    

  }
  .menu {
  
    border-right: 2px solid black;
  
    height: 7%;
  
    width: 100px;
  
    text-align: center;
  
    padding: 5px 0px;
  
  }
  .columns {
  
    
    height: 300px;
  
   
  
  }
  .column1 {
  
    padding-top: 5px;
  
    padding-left: 10px;
  
    background-color: gray;
  
  }
  
  .column2 {
  
    padding-top: 5px;
  
    padding-left: 10px;
   
    background-color: rgba(128, 128, 128, 0.881);
  
  }
  
  
  .column3 {
  
    padding-top: 5px;
  
    padding-left: 10px;

    background-color: rgba(128, 128, 128, 0.545);
  
  }
 